:root {
    --background-color:rgba(206, 206, 206, 0.823);
    --icon-color:#03564A;
    
}

.main__container{
    min-height: 100vh !important;
    flex-direction: column;
}

.layout{
    margin:0;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.footer{
    position: relative;
    margin-top: auto;
}